* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 70%;
  margin: auto;
  border: 1px solid black;
}

.yellow-part {
  height: 20px;
  background-color: rgba(255, 191, 0, 0.838);
}

.sub-container {
  padding: 0 30px;
}

.name-part {
  padding: 10px;
}

.name-part h1 {
  font-size: 50px;
  color: rgb(61, 61, 61);
}

.name-part p {
  font-size: 25px;
  opacity: 0.8;
  font-weight: 500;
}

.line {
  width: 20%;
  height: 2px;
  background-color: rgba(255, 191, 0, 0.838);
  margin: 30px 0;
}

/* Profile part start */

.image img {
  width: 125px;
}

.profile-part {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.profile-left P {
  font-size: 15px;
  color: rgb(104, 103, 103);
  line-height: 20px;
  padding-top: 5px;
}

.profile-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-right {
  padding: 10px;
  border-left: 2px solid rgba(255, 191, 0, 0.838);
  font-size: 15px;
}

/* Main conntent */

.main-content {
  display: flex;
  justify-content: center;
  padding: 0 15px;
  gap: 20px;
  margin: 30px 0;
}
.first-container h4 {
  margin-top: 10px;
}

.first-container p {
  font-size: 12px;
}

.second-container {
  margin-top: 60px;
}
.second-container ul {
  margin-top: 20px;
}

.second-container ul li {
  margin: 10px 0 10px 12px;
}
.work {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}

.work {
  padding: 20px 20px 20px 10px;
}

.main-right {
  padding-left: 15px;
  border-left: 2px solid rgba(255, 191, 0, 0.838);
}
